.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
	margin: 1%;
    padding: 1%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	line-height: 125%;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
	margin: 1%;
    padding: 1%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	line-height: 125%;
}