@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:'Segoe UI', arial;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset css ends */
*{
    -moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; /* Safari 3.1 to 6.0 */
    transition: all 0.4s;
}

a	{ text-decoration:none;color:#333;}
.clear	{ clear:both;}
strong	{ font-weight:bold;}	
.caps	{ text-transform:uppercase;}
.textCenter	{ text-align:center;}
.normal	{ font-weight:600;}
.light	{ font-weight:200;}
h1	{ font-size:30px; font-weight:200; margin-bottom:25px;}
h1 span	{ display:block; line-height:1.5; font-size:25px;}
h2	{ font-size:23px; font-weight:700; margin-bottom:20px; word-spacing:4px;}
h3	{ font-size:20px; font-weight:200; margin-bottom:20px;}
h4	{ font-size:15px; font-weight:600;}
p	{ font-size:15px; margin-bottom:20px; line-height:1.5;}
.simplelist li	{ font-weight:200; line-height:1.5; margin-bottom:10px; list-style:inside none disc;}
.siteheader	{ background:#51d1c4; padding:10px 10px 0; position:relative;}
.siteheader a.sitelogo	{ padding:0 0 10px; display:block; float:left;}
.container	{ max-width:1170px; margin:0 auto;}
.boxContainer	{ max-width:1170px; margin:0 auto; position:relative;}
.headerContainer	{ background:url(../images/shadow.png) no-repeat center bottom; padding-bottom:29px;}
.headimg	{ position:absolute; top:50%; left:50%; margin:-30px 0 0 -31%;}
.headerLinks	{ float:right; max-width:50%;}
.toplinks	{ text-align:right;}
.toplinks a		{ width:155px; text-align:center; margin-left:30px; display:inline-block; background:#303030; color:#fff; font-size:13px; text-transform:uppercase;
font-weight:400; line-height:42px;}
.toplinks a:hover	{ background:#4a4a4a;}
.sitenavigation	{ position:absolute; right:0; bottom:0;}
.sitenavigation ul li	{ display:inline;}
.sitenavigation ul li a	{ display:inline-block; float:left; line-height:62px; padding:0 13px; font-size:14px; color:#303030; text-transform:uppercase; font-weight:bold; border-right:1px solid #67e4d7; border-left:1px solid #48c2b6;}
.sitenavigation ul li a:hover, .sitenavigation ul li a.active	{ background:#3db2a6;}
.sitenavigation ul li:first-child a	{ border-left:none;}
.sitenavigation ul li:last-child a	{ border-right:none;}
.container { display:table; width:100%; margin-bottom:40px; position:relative;}

.tests	{ background:url(../images/tests.png) no-repeat center top; display:table; background-size:100%; height:300px; max-width:300px; width:100%; margin:0 auto;}
.tests:hover	{ margin-top:-10px;}
.categoryChoose .block	{ background:url(../images/catshadow.png) no-repeat center bottom; padding-bottom:40px;}
.tests a	{ display:table-cell; vertical-align:middle; font-size:25px; font-weight:700; color:#303030;}
.tests a span	{ display:block; line-height:1;}
.block	{ display:inline-block; float:left;}
.block img	{ max-width:100%;}
.three	{ width:31.7%; margin-right:2%;}
.two { margin-right: 2%; width: 47.55%;}
.twoThird	{ width:65.8%;}
.block:last-child	{ margin-right:0;}

.categories span.bluetxt	{ color:#51d1c4; display:block; font-size:27px; line-height:1.8;}
.categories span.smalltxt	{ font-size:17px;}

.videosWrap	{ background:#ececec; padding:50px 0 0; display:table; width:100%;}
.video	{ margin-bottom:35px;}
.video:last-child	{ margin-bottom:0;}

ul.features	{ margin-left:30px;}
ul.features li	{ font-size:25px; color:#303030; line-height:85px; background:url(../images/list-bullets.png) no-repeat left 37px; padding-left:35px;}
footer.sitefooter	{ background:#303030; padding-top:30px; display:table; width:100%;}
.labelcontainer	{ max-width:1170px; margin:0 auto; position:relative; display:table; width:100%;}
.label	{ color:#303030; background:#51d1c4; font-size:13px; text-align:canter; padding:0 20px; line-height:42px; float:left; font-weight:700;
position:absolute; left:10px; top:-51px;}
.sitefooter	{ font-size:14px;}
.sitefooter .container	{ margin-bottom:60px;}
.pagelinks	{ margin-left:10px;}
.pagelinks li	{ margin-bottom:15px;}
.sitefooter a	{ color:#b9b9b9;}
.sitefooter h4	{ color:#fff; margin-bottom:20px;}
.sitefooter p	{ font-size:13px; max-width:900px; margin:0 auto; color:#fff; line-height:1.4; margin-bottom:20px;}
ul.socialLinks	{ text-align:center;}
ul.socialLinks li	{ display:inline;}
ul.socialLinks li a	{ display:inline-block;}
.contactinfo ul li	{ color:#b9b9b9; margin-bottom:15px;  background:url(../images/contactsprite.png) no-repeat; padding-left:21px;}
.contactinfo ul li.address	{ background-position:0 0;}
.contactinfo ul li.mail	{ background-position:0 -15px;}
.contactinfo ul li.phone	{ background-position:0 -31px;}
.copyright	{ padding:22px 0; background:#222121; color:#b2b2b2; }

ul.cmspage	{ margin-left:25px;}
ul.cmspage li	{ list-style:disc; margin-bottom:20px;}

.two	{  margin-left: 10%;
    width: 35%;}
.contactform	{ border:2px solid #303030;}
.contactheadtxt	{ color:#fff; background:#303030; padding:10px; margin-bottom:0;}
p.contacthead	span	{ font-size:17px; font-weight:bold;}
p.contacthead	{ margin:0;}
.contactfields	{ padding:15px; display:table; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.contactfields p	{ width:100%; margin:0; display:table; margin-bottom:10px;}
.contactfields label	{ min-width:100px; width:20%; clear:left; float:left;}
.contactfields label	{ font-size:15px;}
.contactfields label small	{ font-size:11px; margin-top:1px; display:block;}
.contactfields input[type="text"]	{ height:28px;}
.contactfields textarea	{ height:85px; margin-bottom:10px;}
.contactfields input[type="text"], .contactfields textarea	{ max-width:76%; width:100%; float:right; border:1px solid #cdcdcd;}
.contactfields input[type="reset"]	{ clear:left; margin:0 10px 0 3.5%;}
.contactfields input[type="reset"], .contactfields input[type="submit"]	{ background:#51d1c4; padding:0 12px; display:inline-block; color:#fff; line-height:32px; border:none;}
.cImg	{ text-align:center;}
.cImg img	{ max-width:100%;}
.crew	{min-height:930px; display:block;}
.timg	{ position:absolute;}
.t1	{ top:0; left:310px;}
.t2	{ top:0; left:569px;}
.t3	{ top:0; left:828px;}
.t4	{ top:228px; left:180px;}
.t5	{ top:228px; left:439px;}
.t6	{ top:228px; left:699px;}
.t7	{ top:457px; left:50px;}
.t8	{ top:457px; left:309px;}
.t9	{ top:457px; left:569px;}
.t10	{ top:686px; left:-80px;}
.faq h3	{ cursor:pointer; background:url(../images/plus.png) no-repeat right 5px;}
.faq h3.open	{ background:url(../images/minus.png) no-repeat right 5px;}
.faqblock p	{ height:0; display:none; padding-left:20px;}
.faqblock p.open	{ height:auto; display:block;}
.faqblock {   margin-bottom: 50px; }

.login-signupform	{ width:100%; max-width:770px; margin:0 auto; border:2px solid #51d1c4;}
.formLeft	{ width:45%; min-height:400px; height:400px; float:left; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.formimg	{ background:#51d1c4; padding:45px 25px; border-radius:10px; max-width:230px;  max-height:230px; margin:20% auto; text-align:center;}
.formRight	{ width:55%;  border-left:2px solid #51d1c4; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; min-height:400px;}
.login-signupform .formhead	{ background:#51d1c4; padding:15px; margin-bottom:15px;}
.formhead h3	{ text-align:center; font-size:21px; color:#fff; margin-bottom:0; font-weight:bold; text-transform:uppercase;}
.formhead h3 span	{ display:block; font-size:15px; line-height:2.5;}
.formfields	{ padding:0 50px;}
a.fblogin	{ background:url(../images/facebooklogin.jpg) no-repeat center top; text-align:center; color:#fff; display:block; line-height:39px; width:100%; max-width:319px; margin-bottom:18px;}
.formfields h3	{ font-size:15px; font-weight:bold; text-align:center;}
.formfields h3 span	{ display:block; font-size:11px; line-height:2;}	
.formfields form label	{ display:block; margin-bottom:7px; font-size:12px; font-weight:bold; width:100%; overflow:hidden; line-height:1;}
.formfields form label span	{ text-align:right; float:right; font-weight:400; color:#000;}
.formfields form label span	a	{ color:#000;}
.formfields form input[type="text"], .formfields form input[type="password"]	{ width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border:1px solid #cdcdcd; height:28px; margin-bottom:15px;}
.formfields form input[type="submit"]	{ min-width:110px; margin-bottom:20px; text-align:center; padding:0 10px;  float:right; color:#fff; line-height:30px; border:none; background:#51d1c4; font-size:15px;}
.formfields input[type="checkbox"]	{ margin:0px 5px 0 0; float:left;}
span.agreemnt	{ font-size:11px; line-height:1; margin-bottom:15px; display:block;}
a.bluelink	{ color:#51d1c4;}
.membership-box p	{ position:relative;}
.membership-box	{ border:1px solid #c4c4c4; border-top:none;}
.membership-box p.duration	{ font-size:25px; font-weight:600; margin-bottom:25px; text-align:center; background:#51d1c4; color:#fff; line-height:55px;}
.duration-left	{ position:absolute; top:0; left:-9px;}
.duration-right	{ position:absolute; top:0; right:-9px;}
p.pricing	{ font-size:25px; text-align:center; color:#000;}
p.pricing span	{ font-size:31px; display:block; color:#41b4a8; font-weight:bold; margin-bottom:25px;}	
p.pricingPermonth	{ line-height:41px; color:#000; text-align:center; background:#cfcfcf; font-size:20px; font-weight:bold;margin:0 -1px 35px;}
.priceleft	{ position:absolute; top:-3px; left:-3px;}
.priceright	{ position:absolute; top:-3px; right:-3px;}

.buy	{ background:#303030; margin-bottom:0;}
.buy a	{ display:block; font-size:20px; line-height:41px; color:#fff; text-align:center;}
.buyleft	{ position:absolute; left:-3px; top:-3px;}
.buyright	{ position:absolute; right:-3px; top:-3px;}
.smallinput	{ max-width:60%}
.greentxthead	{ font-size:30px; color:#3db2a6; font-weight:600; word-spacing:4px;}
.largetxt	{ font-weight:200; font-size:53px;}
.largetxt p	{ font-size:30px; line-height:2;}
.largetxt span	{ margin-left:100px;}

.completeTestbox	{ border:1px solid #c4c4c4; padding:60px 15px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.completeTestbox a	{ font-size:30px; color:#000; text-align:center; display:block;}
.completeTestbox a span	{ display:block; line-height:1.5; color:#3db2a6; font-weight:600;}
.tips h2	{ font-size:30px; font-weight:200;}
.tips span	{ display:block; font-weight:600; line-height:1.5;}

.five	{ width:18%; margin-right:2.5%}
.fivejoint	{ width:20%; margin:0;}
.testsections	{ background:url(../images/circle-small.png) no-repeat center top; height:185px; min-width:185px; max-width:100%; display:table; margin:0 auto;}
.sectxt	{display:table-cell; vertical-align:middle; text-align:center;}
.testsections a	{ font-size:22px; color:#000; font-weight:200; text-align:center; display:block; margin-bottom:10px;}
.testsections span	{ display:block; font-size:16px; font-weight:600; line-height:1.5;}

.smallshadow	{ background:url(../images/catshadow.png) no-repeat center bottom; padding-bottom:40px;}
.testsections:hover	{ margin-top:-10px; position:relative;}
a.boxLink	{ background:#fff; border:1px solid #c4c4c4; font-size:20px; font-weight:200; color:#000; min-width:115px; padding:0 10px; line-height:45px; display:block; float:left; text-align:center; margin-bottom:20px;}
a.boxLink:hover	{ background:#ececec;}


.normalbold	{ font-size:30px; font-weight:600; text-transform:uppercase;}
a.linkright	{ float:right;}
a.blackLink	{ background:#000; border:none; color:#fff;}
a.blackLink:hover	{ background:#222; border:none; color:#fff;}
.border-right	{ background:url(../images/border.jpg) no-repeat right 30%;}
.timesummary	{ font-size:20px; text-align:center;}
.timesummary span	{ display:block; line-height:1.5;  font-weight:700;}
.squeez	{ max-width:1000px; margin:0 auto;}

.testbtn	{ display:block; border:1px solid #c4c4c4; font-size:15px; font-weight:200; text-align:center; color:#303030; line-height:2.5;}
.testbtn:hover	{ background:#ececec;}

.TestHeader	{ background:#303030; padding:10px;}
.TestHeader h2	{ color:#fff; font-size:13px; text-transform:uppercase; font-weight:200; float:left;}
.TestHeader h2 span	{ display:block; font-size:30px; line-height:1.5;}
.testheaderRight	{ width:32.5%; float:right;}
.Timedetails	{ padding:5px; float:left; margin-bottom:10px; width:60%;}
.Timedetails span	{ font-size:13px; font-weight:600; text-transform:uppercase; color:#fff; line-height:31px;}
.timeblock	{ float:right; text-align:center; font-size:11px; color:#fff;  width:105px; height:31px; }
.timeblock span	{line-height:31px; font-weight:600; padding:0 6px; display:inline-block; color:#000; border:1px solid #333; text-align:center; background:#51d1c4;}
ul.testbtns li	{ float:left; margin-right:4%; background:#fff; padding:0 8px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

ul.testbtns	{ float:left; padding-top:6px; width:37%;}
ul.testbtns li:last-child	{ margin:0;}
ul.testbtns li a.pause	{ background:url(../images/pause.png) no-repeat left 50%; padding-left:15px;}
ul.testbtns li a.end	{ background:url(../images/end.png) no-repeat left 50%; padding-left:15px;}

ul.testbtns li a	{ font-size:13px; font-weight:600; text-transform:uppercase; display:block; text-align:center; color:#303030; line-height:31px;}
ul.testbtns li:hover	{ background:#ececec;}
.quesList	{ text-align:left; padding:20px 10px; border-bottom:3px solid #303030; margin-bottom:15px;}
.quesList ul	{ text-align:left;}
.quesList li {
    border: 1px solid #000;
    border-radius: 10px;
    display: inline;
    padding: .5px;
}
.quesList li a	{ display:inline-block; color:#303030; min-width:20px; font-size:12px; text-align:center;}
.quesList li.active, .quesList li:hover	{ background:#303030;}
.quesList li.active	a, .quesList li:hover a	{ color:#fff;}

.quesBody	{ 
padding:40px; 
border:1px solid #ececec;
}
.quesbodyLeft		{ width:100%; min-height:380px; float:left; position:relative;}
.quesbodyLeftinner		{ width:60%; min-height:380px; float:left; position:relative;}
.quesbodyLeft img	{ max-width:100%; border:1px solid #ececec; margin-bottom:15px;}
.quesbodyRight	{  background-color: #f8f8f8;
    float: right;
    padding: 2%;
    width: 35%;}
.quesNav	{ min-width:120px; padding:0 10px;  display:inline-block; line-height:2.5; text-align:center;  color:#fff; background:#000; padding:0 10px; position:absolute; bottom:0; left:0;}

.quesNav:hover	{ background:#222;}
.rightNav	{ min-width:120px; padding:0 10px;  display:inline-block; line-height:2.5; text-align:center;  color:#fff; background:#000; padding:0 10px; float:right;}
.rightNav:hover	{ background:#222;}
.options	{ width:100%;}
.options li	{ padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #303030;}
.options li span	{ margin-right:25px; padding:5px 9px; border-radius:35px; font-size:18px; border:1px solid #ececec;}
.options li span.active	{ background:#51d1c4;}
.options li a	{ 
color:#303030; 
font-weight:bold;
font-size: 22px;
}
.options li img	{ display:block; text-align:left; margin:25px 0 0 11px;}
ul.leftsqz	{ margin-left:35px;}

.hide{ display:none;}
.leftarea	{ float:right; width:80%;}
.quesbox	{ border:1px solid #c4c4c4; display:table; height:400px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; width:100%; padding:20px; position:relative; margin-bottom:15px;}
.quesbox h2	{ display:table-cell; vertical-align:middle; text-align:center; font-size:53px; font-weight:200;}
span.breadcrumb	{ display:block; line-height:1.5; margin-bottom:30px;}
.breadcrumb a { color:#000; font-weight:bold;}
.quesbox img.star	{ position:absolute; right:20px; top:20px; cursor:pointer;}
p.flip	{ position:absolute; bottom:0; width:100%; text-align:right; line-height:2; display:block; left:0; margin:0; padding-right:25px; margin-left:-15px; background:url(../images/flip.png) no-repeat right 50%;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
p.flip a	{ color:#303030;}
.progressbar	{ text-align:center;}
.progressbar li	{ display:inline;}
li.navbtn	{}
li.navbtn a	{ width:45px; display:inline-block; line-height:45px; border:1px solid #d6d2cb;}
li.progress	{ text-align:center;}
li.progress a	{ display:inline-block; line-height:1.5; font-size:12px;}
li.progress a span	{ display:block; line-height:1.5;}
li.progress img	{ display:inline-block;}
.leftbtn	{ background:url(../images/left.png) no-repeat 50% 50% #f7f4f0; text-indent:-9999px;}
.leftbtn.disable	{background:url(../images/left-disable.png) no-repeat 50% 50% #f7f4f0;}
.rightbtn	{ background:url(../images/right.png) no-repeat 50% 50% #f7f4f0;; text-indent:-9999px;}
.rightbtn.disable	{background:url(../images/right-disable.png) no-repeat 50% 50% #f7f4f0;}
.centercolumn	{ float:left; width:20%; margin-left:5%;}
.rightColumn	{ float:left; width:19%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding:10px;
border:1px solid #c4c4c4;}
.uibtn	{ margin-bottom:20px; overflow:hidden;}
.uibtn span	{ display:block; margin-bottom:10px; text-transform:uppercase; font-size:13px;}
.uibtn a	{ width:45%; margin:0 2.5%; text-align:center; border-radius:4px; color:#000; display:inline-block; float:left; line-height:35px;}

.uibtn a:hover, .uibtn a.active	{ background:#000; color:#fff;}
.uibtn a.sep	{ text-align:left; text-decoration:underline; font-size:12px;}
.uibtn a.sep:hover	{ background:none; color:#000;}
a.full	{ width:100%; text-align:left; text-transform:uppercase; font-weight:800; font-size:13px; padding:0 10px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; margin:0 0 10px; border:1px solid #ececec;}
a.full:hover, a.full.active	{ background:#51d1c4; color:#000; border:1px solid #48c2b6;}

.centercolumn ul	{ height:400px; overflow:auto;}
.centercolumn ul li a	{ font-size:12px; display:block; line-height:2.5; color:#000; padding-left:5px;}
.centercolumn ul li a:hover	{ background:#000; color:#fff;}
.quescount	{ position:absolute; left:-5px; top:20px; font-size:11px; color:#303030; border-radius:10px; border:1px solid #c4c4c4; padding:2px 7px; background:#fff;}
a.backico	{ background:url(../images/bckico.png) no-repeat 5px 7px; padding-left: 20px;}

table.testTeacher	{ margin:50px auto; max-width:80%; width:100%; border-right:1px solid #c4c4c4; border-top:1px solid #c4c4c4;}
table.testTeacher tr td	{ padding:10px; border-bottom:1px solid #c4c4c4; border-left:1px solid #c4c4c4;}
td.Section, td.finalScore	{ font-weight:bold;}
td.finalScore	{color:#3db2a6;}
.centerList	{ text-align:center; margin:50px 0 20px;}
.centerList li	{ display:inline-block; width:40%; padding:20px; border:1px solid #c4c4c4;}
.centerList li a	{ color:#3db2a6; font-weight:bold;}
.centerList li a span	{ display:block; font-size:22px; font-weight:200; color:#000; line-height:1.5; margin-bottom:15px;}
.quesBlock	{ border-bottom:1px solid #c4c4c4; padding-bottom:40px; margin-bottom:40px; padding:20px;}
p.qusetion	{ font-size:22px;}
ul.quseOption li { line-height:2;}
p.userAns, .rightAns	{ display:block; margin:10px 0; font-size:16px;}
p.userAns span	{  font-weight:bold;}
.rightAns span	{ font-weight:bold; color:#3db2a6;}
.quesVideo	{ position:relative;}
.quesVideo .expvideo	{ position:absolute; right:0; top:0;}


/*responsive css*/
@media screen and (min-width:901px) and (max-width:1200px)
{
	.headerLinks	{ width:100%;}
	.toplinks a	{ margin-left:4%; width:45%;}
	.sitenavigation	{ width:100%;}
	.sitenavigation ul li a	{ padding:0 1.5%; font-size:11px;}
	.container	{ display:block; padding:0 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	.boxContainer	{ padding-bottom:70px;}
	.fblikes	{ overflow:hidden; display:block;}
	.video	{float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;}
	.video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
}	
@media screen and (min-width:768px) and (max-width:900px)
{
	.headerLinks	{ width:100%;}
	.toplinks a	{ margin-left:4%; width:45%;}
	.sitenavigation	{ width:100%;}
	.sitenavigation ul li a	{ padding:0 1%; font-size:11px;}
	.boxContainer	{ padding-bottom:70px;}
	.fblikes	{ overflow:hidden; display:block;}
	.container	{ display:block; padding:0 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	.tests	{ background:url("../images/tests.png") no-repeat scroll center 50% / 90% auto rgba(0, 0, 0, 0);}
	.three	{ width:32%;}
	.video	{float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;}
	.video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
}	
@media screen and (min-width:481px) and (max-width:767px)

{
	.siteheader a.sitelogo	{ float:none; text-align:center;}
	.boxContainer	{ clear:both;}
	.headimg	{ position:relative; margin:0 0 10px; top:0; left:0; max-width:100%;}
	.headerLinks	{ max-width:100%; float:none;}
	.toplinks a	{ width:100%; margin:0 0 20px;}
	.sitenavigation	{ position:relative;}
	.sitenavigation ul li	{ display:block;}
	.sitenavigation ul li a	{ display:block; border:none; border-bottom:1px solid #48c2b6; float:none;}
	.sitefooter	{ padding-left:5%; padding-right:5%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	.three	{ width:100%; padding:0 0 5%; margin-right:0;}
	.twoThird	{ width:100%; padding:0 0 5%;}
	.block	{ float:none;}
	.categories .block	{ text-align:center;}
	.copyright	{ margin:0 -5%;}
	.fblikes	{ overflow:hidden; display:block;}
	.container	{ display:block; padding:0 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	ul.features li	{ line-height:1.5; background:url(../images/list-bullets.png) no-repeat left 13px;}
	.video	{float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;}
	.video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	.videosWrap .container	{ text-align:center;}	
	.videosWrap ul.features	{ text-align:left;}
}


@media screen and (min-width:320px) and (max-width:480px)

{
	.siteheader a.sitelogo	{ float:none; text-align:center;}
	.boxContainer	{ clear:both;}
	.headimg	{ position:relative; margin:0 0 10px; top:0; left:0; max-width:100%;}
	.headerLinks	{ max-width:100%; float:none;}
	.toplinks a	{ width:100%; margin:0 0 20px;}
	.sitenavigation	{ position:relative;}
	.sitenavigation ul li	{ display:block;}
	.sitenavigation ul li a	{ display:block; border:none; border-bottom:1px solid #48c2b6; float:none;}
	.sitefooter	{ padding-left:5%; padding-right:5%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	.three	{ width:100%; padding:0 0 5%; margin-right:0;}
	.twoThird	{ width:100%; padding:0 0 5%;}
	.block	{ float:none;}
	.categories .block	{ text-align:center;}
	.copyright	{ margin:0 -5%;}
	.fblikes	{ overflow:hidden; display:block;}
	.container	{ display:block; padding:0 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	ul.features li	{ line-height:1.5; background:url(../images/list-bullets.png) no-repeat left 13px;}
	.video	{float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;}
	.video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	.videosWrap .container	{ text-align:center;}
	.videosWrap ul.features	{ text-align:left;}
	
	.two	{ width:90%; margin:0 5% 5%;}
	.simplelist { padding:0 20px;}
}
